button {
    margin: 5px;
    margin-right: 0px;
    height: 30px;
}

#insert-item-div {
    width: 100%;
    background-color: red;
    justify-content: center;
}

#insert-item-div textarea {
    margin: 5px;
    margin-right: 0px;
}

#buttons-bar {
    background-color: grey;
}

#items-div {
    max-height: calc(100vh - 40px);
    overflow: auto;
}

#items-div i {
    border: 5px solid black;
}

textarea {
    resize: none;
}
