button {
    margin: 5px;
    margin-right: 0px;
    height: 30px;
}

#insert-item-div {
    display: flex;
    width: 100%;
    background-color: red;
    justify-content: center;
}

#insert-location-div {
    display: flex;
    width: 100%;
    background-color: red;
    justify-content: center;
}

#buttons-bar {
    background-color: grey;
}

#items-div {
    max-height: calc(100vh - 100px);
    overflow: auto;
}

#items-div button {
    transform: translateY(-70%);
}

#items-div i {
    border: 2px solid black;
    max-width: 200px;
    overflow: auto;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 12px;
}

.tooltip-span,
.tooltip-dates {
    visibility: hidden;
    background-color: white;
    border: 1px solid black;
    position: absolute;
}

i:hover .tooltip-span,
i:hover .tooltip-dates {
    visibility: visible;
}

.tooltip-dates {
    z-index: 1;
    visibility: hidden;
    background-color: white;
    border: 1px solid black;
    position: absolute;
}

.tooltip-span {
    transform: translate(-10px, 100%);
}

.tooltip-dates {
    transform: translate(-10px, 0%);
}

textarea {
    resize: none;
    margin: 5px;
    margin-right: 0px;
}

table,
th,
td {
    border: 1px solid black;
}

#h-id {
    width: 3%;
}

#h-ware {
    width: auto;
}

#h-row,
#h-rack,
#h-she,
#h-del {
    width: 10%;
}
